:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; 
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 99vw;
  position: absolute;
  overflow-x: hidden; /* Prevent horizontal overflow */
  background:
        linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
        #f2f2f2;
    background-size:
        50px 50px,
        40px 40px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px;
background-color: #f2f2f2;
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 30px;
}
.header-body {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10vh;
}
.header-body div{
  display: flex;
  width: 80vw;
  /* border: 1px black solid; */
  align-self: center;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
}



.header-body ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-right: 10px;
}

.header-body li {
  margin-left: 20px;
  position: relative;
}
.header-body a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  transition: all 0.4s ease;
  font-size: 30px;
}

.header-body li a {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  transition: all 0.4s ease;
  font-size: 18px;
}

.header-body li a:hover {
  background-color: #333;
  color: white;
}


#footer {
  height: 30vh;
}
.Projects-body{
  display: flex;
  width: 90vw;
  justify-content: space-between;
  align-items: center;
}
.phone {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; 
  align-items: center; 
  width: 250px;
  height: 450px;
  background-color: #000;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in-out;
  position: relative; 
 
}


.phone:hover{
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.phone-icon {
  max-width: 50px; /* Adjust size as needed */
  max-height: 50px; /* Adjust size as needed */
  opacity: 0.8; /* Slight transparency */
  margin: 10px; /* Adds space between icons */
}
.phone-icon:hover {
  transform: scale(1.1); /* Enlarge on hover */
  transition: transform 0.3s ease-in-out;
}

.introduction {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 80vh;
  align-items: center;
  justify-content: space-between;
  /* border: 1px black solid; */
}
.introduction-text-body {
  display: flex;
  position: relative;
  /* border: 1px black solid; */
  flex-direction: column;
  justify-content: space-evenly;
  bottom: 10vh;
  width: 60%;
  height: 65%;
  
}

.introduction-text-body-sec{
  display: flex;
  flex-direction: column;
}
.introduction-text-body-sec a{
  text-decoration: none;
}

.introduction-text-body h1 {
  font-size: 35px;
  font-weight: 400;
  padding:0;
  margin:0;
}
.introduction-text-body h1 span{
  font-size: 35px;
  font-weight: 400;
  color: #008D6D;
  padding:0;
  margin:0;
}
.introduction-links{
  color: #008D6D;
}
.introduction-socials a{
  text-decoration: none;
}
.introduction-text-body span {
  font-size: 20px;
  font-weight: 360;
}
.introduction button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
}

.introduction-quote p{
  padding:none;
  margin:none;
}
.introduction-quote-author{
  color: rgb(141, 141, 141);
}
.pages{
  /* border:1px black solid; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: fit-content;
  width: 80vw;
}
.technologies{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  margin-bottom: 40px;
}
.technologies-header{
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px rgb(199, 185, 185) solid;
  width: 80vw;
}
.pages-list-one{
  /* border:1px black solid; */
  display: grid;
  row-gap: 10px;
  column-gap: 10px;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  list-style-type: none;
  padding:0;
  
}
.pages-list-one a{
  text-decoration: none;
  color:#000
}

.tech-stack-list-one{
  padding:0;
  width:100%;
  list-style-type: none;
  display:grid;
  row-gap: 10px;
  column-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  margin-bottom: 30px;
  
}
.tech-stack-image-container{
  border-radius: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tech-stack-variable{
  width: 20px;
  height: 20px;
}
.each-page-stack-container{
  display: flex;
  flex-direction: column;
  padding-left:10px;
  align-items: flex-start;
  height: 100px;
  border-radius: 10px;
  background: rgba(223, 233, 231, .5);
  padding-left: 20px;
}
.each-page-stack-container h1{
  font-size:17px;
  font-weight: 600;
}
.each-tech-stack-container{
  display: flex;
  padding-left:10px;
  align-items: center;
  height: 53px;
  border-radius: 10px;
  background: rgba(223, 233, 231, .5);
  
}
.each-tech-stack-container span{
  padding-left: 10px;
}
#footer{
  width:  80vw;
  border-top: 1px rgb(199, 185, 185) solid;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 7vh;
  padding-top: 15px;
}

#footer span{
  color: rgb(128, 123, 123);
  font-size: small;
}

@media only screen and (max-width: 850px) {
  .introduction {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
  .introduction-text-body{
    display: flex;
    align-items: center;
    margin-top: 15vh;
    width: 80vw;
    height: fit-content;

  }
  .introduction-text-body-primary h1{
    font-size: 28px;
    font-weight: 490;
    text-align: center;
    
  }
  .introduction-text-body-primary h1 span{
    font-size: 28px;
    font-weight: 490;
    text-align: center;
  }

  .introduction-text-body-sec{
    /* margin-top: 20px; */
    align-items: center;
  
    /* flex-direction: row; */
  }

  .introduction-text-body-sec span{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
  
  }
  .phone{
    margin-bottom:40px
  }
}

/* blog styles */
.blog-introduction{
  /* border: 1px black solid; */
  margin-top: 80px;
  width: 80vw;
  height: fit-content;
}
.introduction-text-body-posts h2{
  font-size: 22px;
  font-weight: 490;
  padding-bottom: 20px;
  border-bottom: 1px rgb(199, 185, 185) solid;
  margin-top: 80px;
  
}
.blog-post-each{
  border: 1.5px black dotted;
  width: 25vw;
  height: 30vh;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 850px){
.introduction-text-body-posts,.blog-post-each{
  width: 80vw;
}
}


/* PortFolio.html */
.portfolio-heading{
  margin-top: 10vh;
  /* border: 1px black solid; */
  height: fit-content;
  margin-top: 15vh;
}