@media screen and (max-width: 850px) {
  #introduction {
  }
  #introduction h1 {
    font-size: 40px;
  }
  .introduction-text-body span {
    width: 90vw;
    align-self: center;
  }
  .contact {
    min-width: 500px;
    display: flex;
    flex-direction: column;
    height: 30vh;
    /* border: 1px black solid; */
  }
  .contact button {
    width: 60%;
    height: 20%;
  }
  #skillwrapper {
    margin-top: 10%;
  }
  .skillsbody {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    margin-top: 10%;
  }
}
